@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;

.principal {
    padding: 1rem $espacamento-lateral-pequeno;

    .formulario {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .titulo {
            color: $cor-texto-secundaria;
            font-size: $tamanho-fonte-medio-grande;
            font-weight: 700;
            line-height: normal;
        }

        .campo {
            @include input(float-label);
        }

        .descricao {
            @include textarea();
        }

        .botao {
            @include botao(primario, 51px, 100%);
        }
    }
}
