@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;

.formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .titulo {
        color: $cor-texto-secundaria;
        font-size: $tamanho-fonte-medio-grande;
        font-weight: 700;
        line-height: normal;
    }

    .descricao {
        @include textarea();
    }

    .botao {
        @include botao(primario, 51px, 100%);
    }
}

@include breakpoint(desktop) {
    .formulario {
        width: calc((100 * 559) / 1440) + vw;

        .titulo {
            font-size: $tamanho-fonte-grande;
        }
    }
}
