@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;

.card {
    width: 156px;

    .wrapper {
        height: 174px;
        margin-bottom: 0.5rem;
        position: relative;
        width: 156px;

        .icones {
            display: flex;
            gap: 1rem;
            position: absolute;
            right: 0.5rem;
            top: 0.5rem;

            .excluir,
            .editar {
                background-repeat: no-repeat;
                background-size: cover;
                height: 24px;
                width: 24px;
            }

            .excluir {
                background-image: url('/assets/icons/lixeira.svg');
            }

            .editar {
                background-image: url('/assets/icons/lapis.svg');
            }
        }

        .imagem {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .nome {
            color: $cor-texto-secundaria;
            font-size: $tamanho-fonte-pequeno;
            font-weight: 500;
            line-height: normal;
        }

        .preco {
            color: $cor-texto-secundaria;
            font-size: $tamanho-fonte-medio-pequeno;
            font-weight: 700;
            line-height: normal;
        }

        .botao {
            color: $cor-texto-destaque;
            font-size: $tamanho-fonte-pequeno;
            font-weight: 700;
            line-height: normal;
            text-align: start;
        }

        .identificador {
            color: $cor-texto-secundaria;
            font-size: $tamanho-fonte-pequeno;
            font-weight: 500;
            line-height: normal;
        }
    }
}

@include breakpoint(tablet) {
    .card {
        width: 164px;

        .wrapper {
            width: 164px;
        }

        .info {
            .botao {
                font-size: $tamanho-fonte-medio-pequeno;
            }
        }
    }
}

@include breakpoint(desktop) {
    .card {
        width: 176px;

        .wrapper {
            width: 176px;
        }
    }
}
