@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;

.principal {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 362px;
    justify-content: center;
    padding: $espacamento-lateral-pequeno;

    .titulo {
        color: $cor-texto-secundaria;
        font-size: 1rem;
        font-weight: 700;
        line-height: normal;
    }

    .formulario {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 275px;

        .input {
            @include input(no-label);
        }

        .botao {
            @include botao(primario, 40px, 109px);
        }
    }
}

@include breakpoint(tablet) {
    .principal {
        height: 295px;
        padding: $espacamento-lateral-medio;
    }
}
