@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;

.formulario {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    grid-area: contato;
    margin-top: 1rem;
    width: 100%;

    .titulo {
        color: $cor-texto-secundaria;
        font-size: $tamanho-fonte-medio-pequeno;
        font-weight: 700;
        line-height: normal;
    }

    .mensagem {
        @include textarea();
        margin-top: 0.5rem;
    }

    .botao {
        @include botao(primario, 40px, 151px);
    }
}

@include breakpoint(tablet) {
    .formulario {
        margin-top: 0;
    }
}

@include breakpoint(desktop) {
    .formulario {
        .botao {
            @include botao(primario, 51px, 165px);
        }
    }
}
