@use '@/sass/variaveis' as *;

%campo-texto {
    background-color: $fundo-principal;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0.25rem;
    color: $cor-texto-secundaria;
    font-size: $tamanho-fonte-medio-pequeno;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}

%campo-pesquisa {
    background-color: $fundo-terciario;
    border-radius: 1.25rem;
    color: $cor-texto-secundaria;
    font-size: $tamanho-fonte-pequeno;
    height: 40px;
    line-height: 1rem;
    padding: 0.5rem 1rem;
    width: 100%;

    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
}

%placeholder {
    &::placeholder {
        color: $cor-texto-terciaria;
        font-size: $tamanho-fonte-medio-pequeno;
        font-weight: 400;
        line-height: normal;
    }
}

%absolute-label {
    color: $cor-texto-terciaria;
    font-size: $tamanho-fonte-muito-pequeno;
    font-weight: 400;
    left: 0.75rem;
    line-height: 1rem;
    position: absolute;
    top: 0.5rem;
}
