@use '@/sass/variaveis' as *;

%campo-texto {
    background-color: $fundo-principal;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0.25rem;
    color: $cor-texto-secundaria;
    font-size: $tamanho-fonte-medio-pequeno;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}

%campo-pesquisa {
    background-color: $fundo-terciario;
    border-radius: 1.25rem;
    color: $cor-texto-secundaria;
    font-size: $tamanho-fonte-pequeno;
    height: 40px;
    line-height: 1rem;
    padding: 0.5rem 1rem;
    width: 100%;

    &::placeholder {
        color: $cor-texto-terciaria;
    }

    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
}

%placeholder {
    &::placeholder {
        color: $cor-texto-terciaria;
        font-size: $tamanho-fonte-medio-pequeno;
        font-weight: 400;
        line-height: normal;
    }
}

%absolute-label {
    color: $cor-texto-terciaria;
    font-size: $tamanho-fonte-muito-pequeno;
    font-weight: 400;
    left: 0.75rem;
    line-height: 1rem;
    position: absolute;
    top: 0.5rem;
}

%grupo-produtos {
    padding: 1rem 0;

    @media screen and (min-width: 768px) {
        padding: 2rem 0;
    }

    @media screen and (min-width: 1440px) {
        margin-bottom: 4rem;
        padding: 0;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

%grupo-topo {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}

%grupo-titulo {
    color: $cor-texto-secundaria;
    font-size: $tamanho-fonte-medio-grande;
    font-weight: 700;
    line-height: normal;

    @media screen and (min-width: 1440px) {
        font-size: $tamanho-fonte-grande;
    }
}

%lista-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    @media screen and (min-width: 768px) {
        justify-content: start;
    }
}
