@use '@/sass/variaveis' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: $fundo-terciario;
    font-family: $fonte-primaria;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    cursor: pointer;
    outline: none;
    padding: 0;
}

input {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #858585;
}
