@use '@/sass/variaveis' as *;

@mixin breakpoint($point) {
    @if $point == mobile-small {
        @media screen and (min-width: 375px) {
            @content;
        }
    } @else if $point == mobile {
        @media screen and (min-width: 600px) {
            @content;
        }
    } @else if $point == tablet {
        @media screen and (min-width: 768px) {
            @content;
        }
    } @else if $point == laptop {
        @media screen and (min-width: 1024px) {
            @content;
        }
    } @else if $point == desktop {
        @media screen and (min-width: 1440px) {
            @content;
        }
    } @else if $point == desktop-large {
        @media screen and (min-width: 1920px) {
            @content;
        }
    }
}

@mixin botao($modelo, $altura, $largura) {
    font-size: $tamanho-fonte-pequeno;
    font-weight: 600;
    height: $altura;
    line-height: normal;
    text-align: center;
    width: $largura;

    @include breakpoint(desktop) {
        font-size: $tamanho-fonte-medio-pequeno;
        font-weight: 400;
    }

    @if $modelo == primario {
        background-color: $fundo-botao-primario;
        color: $cor-texto-primaria;

        &:hover {
            background-color: $fundo-botao-primario-hover;
        }
    } @else if $modelo == secundario {
        background-color: $fundo-botao-secundario;
        border: 1px solid $cor-texto-destaque;
        color: $cor-texto-destaque;

        &:hover {
            background-color: $fundo-botao-secundario-hover;
        }
    }
}
