@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;

.rodape {
    background-color: $fundo-secundario;
    display: grid;
    gap: 1rem;
    grid-template-areas:
        'logo'
        'links'
        'contato';
    grid-template-rows: repeat(3, max-content);
    justify-items: center;
    padding: 1rem $espacamento-lateral-pequeno;

    .imagem {
        grid-area: logo;
    }

    .lista {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        grid-area: links;
        text-align: center;

        .link {
            color: $cor-texto-secundaria;
            font-size: $tamanho-fonte-medio-pequeno;
            font-weight: 500;
            line-height: normal;
        }
    }
}

@include breakpoint(tablet) {
    .rodape {
        grid-template-areas:
            'logo contato'
            'links contato';
        grid-template-columns: 254px 1fr;
        grid-template-rows: repeat(2, max-content);
        justify-items: start;
        padding: 2rem $espacamento-lateral-medio;

        .lista {
            gap: 1.5rem;
            text-align: start;
        }
    }
}
