@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;

.grupo {
    padding: 1rem 0;

    .topo {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
        margin-bottom: 1rem;

        .categoria {
            color: $cor-texto-secundaria;
            font-size: $tamanho-fonte-medio-grande;
            font-weight: 700;
            line-height: normal;
        }
    }

    .lista {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }

    &.destaque {
        .topo {
            .botao {
                align-items: center;
                color: $cor-texto-destaque;
                display: flex;
                font-size: $tamanho-fonte-pequeno;
                font-weight: 700;
                gap: 0.25rem;
                line-height: normal;
    
                &::after {
                    background: url('/assets/icons/flecha-direita.svg') center / cover no-repeat;
                    content: '';
                    height: 16px;
                    width: 16px;
                }
            }
        }
    }
    
    &.editar {
        padding: 0;

        .topo {
            .botao {
                @include botao(primario, 40px, 151px);
            }
        }
    }
}

@include breakpoint(tablet) {
    .grupo {
        padding: 2rem 0;

        .topo {
            .botaoDestaque {
                font-size: $tamanho-fonte-medio-pequeno;
                gap: 0.5rem;

                &::after {
                    height: 24px;
                    width: 24px;
                }
            }
        }

        .lista {
            justify-content: start;
        }
    }
}

@include breakpoint(desktop) {
    .grupo {
        margin-bottom: 4rem;
        padding: 0;

        &:last-of-type {
            margin-bottom: 0;
        }

        .topo {
            .categoria {
                font-size: $tamanho-fonte-grande;
            }
        }
    }
}
