@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;

.barra {
    .input {
        display: none;
    }

    .lupa {
        background-image: url('/assets/icons/lupa-mobile.svg');
        background-repeat: no-repeat;
        background-size: 24px;
        color: $cor-texto-secundaria;
        display: block;
        height: 24px;
        width: 24px;
    }
}

@include breakpoint(tablet) {
    .barra {
        order: 2;
        position: relative;
        width: 272px;

        }

        .lupa {
            background-image: url('/assets/icons/lupa.svg');
            position: absolute;
            right: 16px;
            top: 8px;
        }
    }
}

@include breakpoint(desktop) {
    .barra {
        width: 393px;
    }
}
