@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;

.barra {
    .input {
        display: none;
    }

    .lupa {
        background-image: url('/assets/icons/lupa-mobile.svg');
        background-repeat: no-repeat;
        background-size: 24px;
        color: $cor-texto-secundaria;
        display: block;
        height: 24px;
        width: 24px;
    }
}

@include breakpoint(tablet) {
    .barra {
        order: 2;
        position: relative;
        width: 272px;

        .input {
            background-color: $fundo-terciario;
            border-radius: 1.25rem;
            color: $cor-texto-secundaria;
            display: block;
            font-size: $tamanho-fonte-pequeno;
            height: 40px;
            line-height: 1rem;
            padding: 0.5rem 1rem;
            width: 100%;

            &::placeholder {
                color: $cor-texto-terciaria;
            }

            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
            }
        }

        .lupa {
            background-image: url('/assets/icons/lupa.svg');
            position: absolute;
            right: 16px;
            top: 8px;
        }
    }
}

@include breakpoint(desktop) {
    .barra {
        width: 393px;
    }
}
