@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;
@use '@/sass/extends' as *;

.grupo {
    @extend %grupo-produtos;

    .topo {
        @extend %grupo-topo;

        .titulo {
            @extend %grupo-titulo;
        }

        .botao {
            align-items: center;
            color: $cor-texto-destaque;
            display: flex;
            font-size: $tamanho-fonte-pequeno;
            font-weight: 700;
            gap: 0.25rem;
            line-height: normal;

            &::after {
                background: url('/assets/icons/flecha-direita.svg') center / cover no-repeat;
                content: '';
                height: 16px;
                width: 16px;
            }
        }
    }

    .lista {
        @extend %lista-produtos;
    }
}

@include breakpoint(tablet) {
    .grupo {
        .topo {
            .botao {
                font-size: $tamanho-fonte-medio-pequeno;
                gap: 0.5rem;

                &::after {
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }
}
